<!-- views/partials/head.ejs -->


<!-- CSS (load bootstrap from a CDN) -->
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
 
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="google" value="notranslate">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<title>Super Awesome</title>
<!--
<style>
    body    { padding-top:50px; }
</style>
-->