<% if(messages) { %> 
    <% Object.keys(messages).forEach(function (type) { %>
      <div class="alert alert-<%= msgType2AlertMap[type] %> alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <% messages[type].forEach(function (message) { %>
        <%- message %>
      <% }) %>
      </div>
    <% }) %>
<% } %>
