<% if(messages) { %> 
<div id="messages" class="alert">
    <% Object.keys(messages).forEach(function (type) { %>
      <div class="alert-<%= msgType2AlertMap[type] %>">
      <% messages[type].forEach(function (message) { %>
        <p><%= message %></p><br>
      <% }) %>
      </div>
    <% }) %>
</div>
<% } %>
