<!-- views/pages/index.ejs -->
<% layout('templates/layout') %>
<% block('title', 'BLOCK TITLE') %>
<div class="jumbotron">
    <h1>App name: <%- title %></h1>
    <p>Welcome to templating using EJS</p>
</div>
