<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<div>
    <% include partials/header %>
</div>
<div class="container">
    <% include partials/message_template %>
    <%-body-%>
</div>
<div>
    <% include partials/footer %>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>