<form action="<%= action %>" method="post">
    <label for="quote">Enter Author: </label>
    <input type="text" name="author" value=<%- _quote.author %> >
    <label for="quotation">Enter Qutation: </label>
    <input type="text" name="quote" value= <%- _quote.quote %> >
    <input type="submit" value="OK">
</form>