<form action=<%- action %> method="post">
    <label for="quote">Enter Author: </label>
    <input id="author" type="text" name="author_field" value=<%- _quote.author %> >
    <label for="quotation">Enter Qutation: </label>
    <input id="quotation" type="text" name="quotation_field" value= <%- _quote.quotation %> >
    <input type="submit" value="OK">
</form>